.runner-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    font-family: arial;
    overflow: auto;
}

.runner-highlighter {
    z-index: 10001;
    border: 4px solid #FF0000;
    border-radius: 10px;
    position: absolute;
    pointer-events: none;
}

.runner-highlighter-empty {
    display: none;
}

.runner-content {
    position: relative;
    float: left;
    width: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 40px;
}

.runner-overlay .runner-title {
    position: relative;
    float: left;
    padding: 10px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.75);
    width: auto;
}

.runner-clear {
    clear: both;
}

.runner-root {
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(00, 11, 33, 0.5);
    text-indent: 2px;
    border-bottom: 1px solid #000000;
}

.runner-scenario {
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 33, 66, 0.25);
    text-indent: 2px;
    border-bottom: 1px solid #000000;
}

.runner-step {
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(33, 33, 33, 0.25);
    border-bottom: 1px solid #000000;
}

.runner-subStep-chain {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    text-indent: 2px;
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #000000;
}

.runner-overlay .runner-pending {
    color: #3498db;
}

.runner-overlay .runner-pass {
    color: #27ae60;
}

.runner-overlay .runner-fail {
    color: #c0392b;
}

.runner-step-count, .runner-timed-out, .runner-step-paused, .runner-close, .runner-pause, .runner-next, .runner-resume, .runner-complete {
    display: inline;
    font-size: 12px;
    background: #000000;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    color: #FFFFFF;
    min-width: 10px;
    line-height: 12px;
}

.runner-timed-out {
    background-color: #FFFFFF;
    color: #FF0000;
}

.runner-step-paused {
    background-color: #FF6600;
    color: #FFFFFF;
}

.runner-close {
    background: #FF0000;
    color: #FFFFFF;
    text-decoration: none;
}

.runner-pause {
    background: #336699;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.runner-next {
    background: #336699;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.runner-resume.unpaused {
    display: none;
}

.runner-resume.paused {
    background-color: #33CC33;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.runner-complete {
    display: none;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.runner-complete.passed {
    display: inline;
    background-color: #33CC33;
}

.runner-complete.failed {
    display: inline;
    background-color: #FF0000;
}

.runner-complete.paused {
    display: inline;
    background-color: #FF6600;
}